.header {
    text-align:center;
}

a {
    display:block;
    width:100%;
    text-align:center;
}

.flag {
    width:900px;
    height:600px;
    margin:auto;
}

.stripe {
    width:200px;
    height: 100%;
    float:left;
}

.red{
    background:#c7272f
}
.blue{
    background:#025299
}

img {
    margin:left;
}

.stripe.red p {
    font-size:100px;
    line: hieght 100px;
    margin-top:150px;
    text-align:center;
    color:#fbd100
}